body, html {
height: 100%;
padding: 0;
margin: 0;
}

body{
    background: linear-gradient(rgba(0, 0, 128, .8),rgba(8, 3, 3, .9)), url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}
.logo{
    height: 40px;
    margin-top: 20px;
}

.text-description {
    letter-spacing:  2px;
    font-family: sans-serif;
}
.form-control {
    background:transparent !important;
    color: white !important;
}

a .fab{
    color: white;
    font-size: 30px;
    margin: 0 10px;
}